<!doctype html>
<html>
<title>Hello Angular</title>
<body>
    <h1>Hello Angular</h1>
     
    <div ng-app>
<<<<<<< HEAD
        ciao
=======
        <p>Inserisci il tuo nome: <input type="text" ng-model="name"></p>
        <p>Hello {{name}}!</p>
>>>>>>> parent of 6e89ba7... Test modifica index di prova, 1
    </div>
     
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.14/angular.min.js"></script>
</body>
</html>